.fade-enter-active,.fade-leave-active {
  transition: all .2s;
}

.fade-enter-from,.fade-level-to {
  opacity: 0;
}

html {
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #747474;
  /* width: px;*/
}

*::-webkit-scrollbar-corner {
  background: #f6f6f6;
}

.break-text {
  word-break: break-all;
  word-wrap: break-word;
}

.file-size {
  color: #747474;
  font-size: 12px;
}