.fade-enter-active,.fade-leave-active {
  transition: all .2s;
}

.fade-enter-from,.fade-level-to {
  opacity: 0;
}

html {
  overflow-y: auto !important;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar:hover {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 50%;
}

*::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 24px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #747474;
  /* width: px;*/
}

*::-webkit-scrollbar-corner {
  background: #f6f6f6;
}

.break-text {
  word-break: break-all;
  word-wrap: break-word;
}

.file-size {
  color: #747474;
  font-size: 12px;
}

.link {
  display: inline-block;
  position: relative;
  color: rgba($color: var(--v-theme-primary), $alpha: 1.0);
  padding-top: 2px;
  padding-bottom: 2px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color: var(--v-theme-primary), $alpha: 1.0);
    transform: rotateY(90deg);
    transition: all .2s;
  }

  &:hover::after {
    transform: rotateY(0deg);
  }
}