
.file-explorer-file-list {
  .file-item {
    transition: all .2s;
  }
  .file-item:hover {
    background-color: rgba(var(--v-theme-on-surface), .06);
  }
  .selected-file-item {
    background-color:  rgba(var(--v-theme-on-surface), .1);
  }
  .selected-file-item:hover {
    background-color: rgba(var(--v-theme-on-surface), .15);
  }
  .file-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
  }
}