
.file-checkbox {
  padding-right: 0px !important;
  &>* {
    transform: scale(.85);
  }
}
.file-table {
  max-width: 100%;
  background-color: var(--v-theme-background);
  color: var(--v-theme-surface);
  --table-width: 100%;
  .mdi-checkbox-blank-outline {
    font-size: 16px;
  }
  tr {
    cursor: pointer;
    max-width: 90%;
    transition: all .1s;
    &:hover {
      background-color: rgba($color: var(--v-theme-primary), $alpha: .08) !important;

      .file-name {
        color: rgba($color: var(--v-theme-primary), $alpha: 1.0) !important;
      }
    }
    &.active {
      background-color: rgba($color: var(--v-theme-primary), $alpha: .2) !important;

      .file-name {
        color: rgba($color: var(--v-theme-primary), $alpha: 1.0) !important;
      }
    }

    td.file-col,tr.file-col {
      padding: 0;
    }

    th {
      background-color: rgb(var(--v-theme-background)) !important;
      z-index: 1 !important;
    }
    td:first-child {
      padding-left: 12px;
    }
  }
}
.file-icon-group {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  
  .file-detail {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 6px;
    width: 100%;
  }
  .file-name {
    font-size: 14px;
    max-width: calc( var(--table-width) - 72px );
  }
}

.rename-input {
  border: 1px solid rgb(var(--v-theme-primary));
  width: 80%;
  padding: 2px;
  outline: none;
  background-color: rgb(var(--v-theme-background));
}


.back-icon {
  font-size: 18px;
  height: 32px;
  width: 32px;
  display: inline-block;
}

// README.md 预览视图
.readme-view {
  display: flex;
  --readme-width-offset: 0px;
  height: 100vh;
  max-height: 100%;
  min-width: 128px;
  width: calc(40% + var(--readme-width-offset));
  overflow: auto;

  // 视图与文件列表的切割线
  .spacer-line {
    display: inline-block;
    width: 10px;
    max-width: 10px;
    min-width: 10px;
    height: 100%;
    margin: 0 3px;
    border-width: 0 1px;
    border-color: rgba($color: var(--v-theme-primary), $alpha: .08);
    border-style: solid;
    cursor: col-resize;
    transition: all .1s;
    &:hover,&:active,&.active {
      background-color: rgba($color: var(--v-theme-primary), $alpha: .08);
    }
  }

  // 视图内容本体
  .readme-content {
    height: 100%;
    margin-left: 6px;
    overflow: auto;
  }
  @media (max-width: 720px) {
    & {
      display: none;
    }
  }
}